node_modules/
dist/
dist-ssr/
*.local
vite.config.js
vite.config.d.ts
tsconfig.node.tsbuildinfo

### Logs ###
logs
*.log
npm-debug.log*

### Editor ###
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
